<% layout("/layout/boilerplate") %>
<div class="row">
    <div class="col-8" offset-2>
    <h2>Create a new listing:</h2>
    <form method="post" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3">
            <lable for="title" class="form-label">Title</lable>
            <input type="text" name="listing[title]" placeholder="Enter title" class="form-control" required>
            <div class="invalid-feedback">Please enter the title</div>
        </div>

        <div class="mb-3">
            <lable for="description" class="form-label">Description</lable>
            <textarea name="listing[description]" placeholder="Enter description" class="form-control" required></textarea>    
            <div class="invalid-feedback">Please enter a description</div>
        </div>

        <div>
            <lable for="image" class="form-label">Image</lable>
            <input type="file" name="listing[image]" class="form-control">
        </div>

        <div class="row">
            <div class="mb-3 col-md-4">
                <lable for="price" class="form-label">Price</lable>
                <input type="number" name="listing[price]" placeholder="Enter price" class="form-control" required>
                <div class="invalid-feedback">Please enter a Price</div>
            </div>
            <div class="mb-3 col-md-8">
                <lable for="country" class="form-label">Country</lable>
                <input type="text" name="listing[country]" placeholder="Enter country" class="form-control" required>
            </div>
            <div class="invalid-feedback">Please enter the country</div>
        </div>
       
        <div class="mb-3">
            <lable for="location" class="form-label">Location</lable>
            <input type="text" name="listing[location]" placeholder="Enter location" class="form-control" required>
            <div class="invalid-feedback">Please enter the location</div>
        </div>
        <button class="btn btn-dark add-btn">Add</button>
    </form>
</div>
</div>
